[submodule "projects/code/team_01"]
	path = projects/code/team_01
	url = https://github.com/jm-x-1/NTDS_2019_PROJECT_TEAM_1
[submodule "projects/code/team_02"]
	path = projects/code/team_02
	url = https://github.com/FredBaos/Ntds_project_team02
[submodule "projects/code/team_03"]
	path = projects/code/team_03
	url = https://github.com/jonathan-doenz/spanish_flu_on_airports
[submodule "projects/code/team_04"]
	path = projects/code/team_04
	url = https://github.com/alielabridi/NTDS_2019
[submodule "projects/code/team_05"]
	path = projects/code/team_05
	url = https://github.com/carparel/NTDS
[submodule "projects/code/team_06"]
	path = projects/code/team_06
	url = https://github.com/Movinder/movielens-imdb-exploration
[submodule "projects/code/team_07"]
	path = projects/code/team_07
	url = https://github.com/dinotuku/ntds-2019-project-team-7
[submodule "projects/code/team_08"]
	path = projects/code/team_08
	url = https://github.com/eliasmpw/EE-558-ntds
[submodule "projects/code/team_09"]
	path = projects/code/team_09
	url = https://github.com/EPFLEXCLT/NTDS2019_team9
[submodule "projects/code/team_10"]
	path = projects/code/team_10
	url = https://github.com/alex-mocanu/A-Network-Tour-of-DS-Homework
[submodule "projects/code/team_11"]
	path = projects/code/team_11
	url = https://github.com/SachaLeblanc/NTDS_final
[submodule "projects/code/team_12"]
	path = projects/code/team_12
	url = https://github.com/Lambo97/MovieRecommendation
[submodule "projects/code/team_13"]
	path = projects/code/team_13
	url = https://github.com/aaag97/ntds-projects
[submodule "projects/code/team_14"]
	path = projects/code/team_14
	url = https://github.com/TheUser0571/NTDS_assignments
[submodule "projects/code/team_15"]
	path = projects/code/team_15
	url = https://github.com/arthurbabey/DeepMovieRecommender
[submodule "projects/code/team_16"]
	path = projects/code/team_16
	url = https://github.com/aurkinet/Group-16
[submodule "projects/code/team_17"]
	path = projects/code/team_17
	url = https://github.com/blagojce95/ntds_project
[submodule "projects/code/team_18"]
	path = projects/code/team_18
	url = https://github.com/raphaelreis/Network_tour_of_mice_genetics
[submodule "projects/code/team_19"]
	path = projects/code/team_19
	url = https://github.com/lchenbb/NTDS2019_Project
[submodule "projects/code/team_20"]
	path = projects/code/team_20
	url = https://github.com/raphstrebel/ntds_project
[submodule "projects/code/team_21"]
	path = projects/code/team_21
	url = https://github.com/michaelhodara/ntds_2019_team21
[submodule "projects/code/team_22"]
	path = projects/code/team_22
	url = https://github.com/zxyzz/ntds_project
[submodule "projects/code/team_23"]
	path = projects/code/team_23
	url = https://github.com/Saibo-creator/ntds_project
[submodule "projects/code/team_24"]
	path = projects/code/team_24
	url = https://github.com/linahcharif/NTDS-Team24
[submodule "projects/code/team_25"]
	path = projects/code/team_25
	url = https://github.com/misterw97/ntds_kitchen_science
[submodule "projects/code/team_26"]
	path = projects/code/team_26
	url = https://github.com/sting1000/ntds_project
[submodule "projects/code/team_27"]
	path = projects/code/team_27
	url = https://github.com/sfurter/Project_NTDS_Group_27
[submodule "projects/code/team_28"]
	path = projects/code/team_28
	url = https://github.com/ahmedkooli/ntds_comics
[submodule "projects/code/team_29"]
	path = projects/code/team_29
	url = https://github.com/jlabhard/ntds_project_movielens
[submodule "projects/code/team_30"]
	path = projects/code/team_30
	url = https://github.com/arturs68/ntds-genetic-malaria-susceptibility
[submodule "projects/code/team_32"]
	path = projects/code/team_32
	url = https://github.com/albornet/ntds_2019_team_32
[submodule "projects/code/team_33"]
	path = projects/code/team_33
	url = https://github.com/YuxuanLongBeyond/Graph-based-Recommendation-System
[submodule "projects/code/team_35"]
	path = projects/code/team_35
	url = https://github.com/gaumuel/ntds2019_project
[submodule "projects/code/team_36"]
	path = projects/code/team_36
	url = https://github.com/Davit98/NTDS-Project
[submodule "projects/code/team_49"]
	path = projects/code/team_49
	url = https://github.com/m-asiatici/ntds-2019-team-49-fpga
